﻿body {
    margin:0px;
    padding:0px;
    font-family:Arial,sans-serif;
}
#logo {
    width: 1100px;
    height: 56px;
    margin: 10px auto;
    background-image: url('imagenes/header_logo.png');
    background-repeat:no-repeat;
}
nav{
    height:41px;
    background-color:#EAEAEA;
    border-bottom:1px solid #DCDCDC;
}
nav div{
    width:1100px;
    height:100%;
    margin:0px,auto;
}
nav ul{
    list-style:none;
}
nav ul li a{
    display:inline-block;
    float:left;
    color:black;
    text-decoration:none;
    font-size:12px;
    margin-right:15px;
    padding-top:15px;
}
nav ul li a:hover{
    font-weight:bold;
}
#titulo{
    height:140px;
    background-color:#EDEDED;
}
#titulo div {
    width: 980px;
    height: 100%;
    margin: 0px auto;
    background-image: url('imagenes/rm_logo_headers.png');
    background-repeat: no-repeat;
    background-position: right top;
    box-sizing:border-box;

}
#titulo h1{
    margin:0px;
    padding:35px 0px 0px;
    font-size:50px;
}
#principal{
    width:980px;
    margin:5px,auto,0px;
}
#principal header{
    clear:left;
    font-size:15px;
    margin:20px 0px;
}
.elem{
    float:left;
    width:220px;
    border-top:2px solid black;
    border-bottom:1px solid #DCDCDC;
    border-right:1px solid #DCDCDC;
    border-left:1px solid #DCDCDC;
    margin-right:20px;
    margin-top:20px;
}
.elem:hover{
    opacity:0.6;
}
.dorsal{
    display:inline-block;
    text-align:center;
    font-size:35px;
    float:left;
    width:60px;
    padding:20px 0px;
    border-right:1px solid #EDEDED;
    box-sizing:border-box;
}
.nom{
    float:left;
    width:160px;
    padding-left:10px;
    padding-top:25px;
    font-weight:bold;
    font-size:14px;
    box-sizing:border-box;
}
.posicio{
    float:left;
    width:160px;
    padding-left:10px;
    font-size:12px;
    margin-bottom:20px;
    box-sizing:border-box;
}
footer{
    clear:left;
    height:40px;
    font-size:12px;
    background-color:#EAEAEA;
    border-top:1px solid #DCDCDC;
}
footer div{
    width:1100px;
    height:100%;
    margin-right:auto;
    margin-left:auto;
    padding-top:10px;
}